.data-table-wrapper{
    overflow-x: scroll;
}
.data-table{
    border: 1px solid #000;
    min-width: 80%;
    margin:0 auto;
}

.data-table td{
    border: 1px solid #000;
    text-align: center;
    padding: 0 2px 0 2px;
}

#data-input{
    display: block;
    width: 95%;
    height: 120px;
    margin: 5px auto;
    font-family: monospace;
}